<!doctype html>
<html>
<meta charset="utf-8" />
<script src="/javascripts/canvas2image.js"></script>
<style>
    .doc {
        width: 604px;
        float:center;
        
    }
</style>
<body>
<div class="doc">
    <div style="clear:both;"></div>
    
    <div style="float:left;margin-left:350px;position:fixed;">
        <p>
            <h1> Thank you! </h1>
            <h2> You have finished 40 characters! </h2>
            <a id="g" style="float:left;" href="/">  Start again!  </a>
        </p>
    </div>
</div>
</script>
</body>
</html>
