doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/canvas2image.js')
    script(src='/javascripts/main.js')
  body
    block content